/* The ul, li and l parts are responsible for the navigation bar */
/* The ul tag is here to display the list as a whole.  */
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333333;
}
/* This part makes the items (boxes or words) in the list be located on the left side  */
li {
    float: left;
}
/* The li tag is here to take care of the display of items */
li a {
	margin-left:95px;
    display: block;
    color: white;
    text-align: center;
    padding: 16px;
    text-decoration: none;
}
/* This part is here so that when you hover over an item something happens  */
li a:hover {
    background-color: #111111;
}	

/* This is here to make the items and the writing in the navigation bar go to their correct place with out this it will just be a sentance of links  */
1{
	background-color: #333333;
	color: white;
    text-align: left;
    text-decoration: none;
	font-size: 30px;
	}
/* The header part is here to position the header as well as making it have a different background and text color and making the text stick to the left side  */
header{
	background-color: #333333;
	color: white;
    text-align: left;
    text-decoration: none;
	height: 75px;
}	
/* Section is same as header but for a different part of the page  */
section{
	background-color: #777777;
	color: white;
    text-align: left;
    text-decoration: none;
	font-size: 15px;
	height: 1000px;
	
	}
/* This is responsible for position and size of the writing above the 4 social media links   */	
#header_section{

font-size:30px;
margin-left: 50px;}	

/* This is here to move the 4 logos of social media 50px from the left margin  */
.floater{
margin-left:50px;}

/* This is here for the other part of writing above the 4 logos it makes the font size 20px and moves it from margin   */
#paragraph_section{
margin-left:50px;
font-size: 20px;}